body{
    background: linear-gradient(to right,#39C5BB,rgb(10, 168, 230),blue);
}

.login-border{
    background-color: rgb(255, 255, 255);
    /* display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    border-style: solid;
    border-color: black;
    padding:25px;
    
}

.form-input label{
    width:100px;
    display: inline-block;
    margin-right:10px;
}

.login-button{
    margin-top:10px;
    border:solid;
    border-color: black;
}

.login-header{
    font-size: 36px;
}

.login-tail{
    font-size:32px;
}