.task-title{
    background-color: white;
    border:solid;
    border-color:black ;
    
}

.input-things-button{
    margin-top: 10px;
    margin-bottom: 10px;
    border:solid;
    background-color: pink;
}

.todo-list{
    background-color: white;
    border:solid;
    border-color:red;
}

.private{
    color:orangered;
}